.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.navbar a {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.w3-card-2 {
  align: center;
  padding: 2%;
  margin: 4% 2% 4% 2%;
}

h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
